/* RGB */
$blue: rgba(1, 22, 39, 1);
$white: rgba(253, 255, 252, 1);
$green: rgba(46, 196, 182, 1);
$red: rgba(231, 29, 54, 1);
$yellow: rgba(255, 159, 28, 1);

$basepadding:4px;
$border:#333;

body {
  font-family: "-apple-system", "BlinkMacSystemFont","Roboto","Helvetica Neue", Arial, sans-serif;
  margin:0;
  padding:0;
}

h1, h2 {
  font-weight: 300;
  margin:0;
  padding:0;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  padding:0;
  margin:.5rem auto;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
} 

aside {
  background: #eeee;
  padding: 2rem;
}

button {
  padding: .8rem .5rem;
  border: 1px solid #ccc;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.5rem;
  &:hover {
    opacity:0.8;
  }
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  &--hide {
    display: none;
  }
}

.userinfo__form {
  display:flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  background: rgba(0,0,0,0.1);
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  form {
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  label {
    font-weight: 500;
  }
  input {
    border: 1px solid #ccc;
    padding: .8rem .5rem;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 0.5rem; 
  }
  &--hide {
    display: none;
  }
}

.showinfo__details {
  display:flex;
  flex-direction: column;
}

.showinfo {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 100%;
  &--hide {
    display: none;
  }  
}

.showinfo__grid {
}

#timeleft {
  margin: 2rem;
  display: flex;
  flex-flow: wrap;
}

#timeleft .month {
  background:#fff;
  border:1px solid $border;
  text-align:center;
  cursor:pointer;
  overflow:hidden;
  width: 20px;
  height: 20px;
  margin: 2px;
  &:hover {
    background:#eee;
  }
}

#timeleft .month--past {
  background: $border;
}


// Tablet
@media only screen 
and (min-width : 769px) 
and (max-width : 1024px) { 
  .showinfo {
    grid-template-columns: 30% 1fr;
  }
  #timeleft .month {
    height: 14px;
    width: 14px;
  }
}

// Mobile
@media only screen 
and (max-width : 768px) { 
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .userinfo {
    justify-content: flex-start;
    box-shadow: none;
  }
  .userinfo__form {
    padding: 1rem 1rem 2rem 1rem;
    height: 100vh;
    form {
      width: 100%;
    }
  }
  .showinfo {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
  aside {
    padding: 1rem 1rem 1.5rem 1rem;
  }
  #timeleft {
    margin: 1rem;
  }
  #timeleft .month {
    height: 14px;
    width: 14px;
  }
}